fastapi~=0.115.6
pydantic~=2.10.3
uvicorn~=0.32.1
gunicorn~=23.0.0
python-logstash-async~=3.0.0
contextvars~=2.4
torch==2.2.2
torchaudio==2.2.2
soundfile~=0.12.1
pydub~=0.25.1
omegaconf~=2.3.0
numpy<2

# brew install ffmpeg